.login{
    background-color: white;
    height: 550px;
    width: 700px;
    margin-top: 150px;
    margin-left: 400px;
    margin-bottom: 150px;
    
    text-align: center;
    border-radius: 15px;

}
.length{
    width: 500px;
}